from django.contrib import admin
from django.urls import path, include

urlpatterns = [
    path('admin/', admin.site.urls),
    {% for app in apps %}
    path('{{app}}/', include('apps.{{app}}.urls')),
    {% endfor %}
]